<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">    

  <ItemGroup>
    <PackageReference Include="MSBuildTasks" Version="1.5.0.235">
      <PrivateAssets>all</PrivateAssets>
      <IncludeAssets>runtime; build; native; contentfiles; analyzers; buildtransitive</IncludeAssets>
    </PackageReference>
  </ItemGroup>
  
<Target Name="ZipOutputPath" AfterTargets="Build">
        <PropertyGroup>
            <ZipStaging>$(MSBuildProjectDirectory)\temp</ZipStaging>
            <ModStaging>$(ZipStaging)\$(MSBuildProjectName)</ModStaging>
        </PropertyGroup>
        <MakeDir Directories="$(ModStaging)" />
        <MakeDir Directories="$(MSBuildProjectDirectory)\..\AAA_Releases" />
        <Exec Command="xcopy /V &quot;$(OutputPath)&quot; &quot;$(ModStaging)&quot; /E /I /Y" />
        <Exec Command="del &quot;$(ModStaging)\*.zip&quot; &quot;$(ModStaging)\*.json&quot; &quot;$(ModStaging)\*.pdb&quot;" />
        <Copy Condition="Exists('$(MSBuildProjectDirectory)\CHANGELOG.md')"
              SourceFiles="$(MSBuildProjectDirectory)\CHANGELOG.md"
              DestinationFolder="$(ModStaging)" />
        <ZipDirectory Condition="'$(Configuration)'=='Release'" Overwrite="true"
                SourceDirectory="$(ZipStaging)"
                DestinationFile="$(MSBuildProjectDirectory)\..\AAA_Releases\$(MSBuildProjectName)_v$(Version)_BepInEx.zip" />
        <RemoveDir Directories="$(ZipStaging)" />
    </Target>
</Project>